<div class="well">
  <p>Your Cellxgene server has started.</p>
  <a href="/rnode/<%= host %>/<%= port %>/" class="btn btn-primary" class="fa fa-registered">Connect to Cellwhisperer Cellxgene</a>
</div>
